

<h2>User List</h2>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude </th> <!--<i class="fa fa-sort-asc"></i> <i class="fa fa-sort-desc"></i>-->
    <th>Longitude </th>
    <th>Website</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Leanne Graham (Bret)</td>
    <td>Kulas Light, Apt. 556, Gwenborough, 92998-3874</td> <!--Using the pipe to combine the address-->
    <td>-37.3159</td>
    <td>81.1496</td>
    <td><a href="https://www.google.com/">google.com</a></td>
  </tr>
</table>